extends ../main
block title
	|Watermark Generator
block section
	section.section
		.preview
			.preview__wrapper
				.preview__header
					h1.preview__header-text Генератор водяных знаков
				.preview__window
					.preview__window-img 
						//- ^ этот контейнер всегда размером с изображение,
						//- | поэтому именно внутри него идет позиционирование
						//- | водяного знака
						img(src="", alt="Обрабатываемое изображение").processed_img
						.tiling
							img(src="", alt="Обрабатываемый вотермарк").processed_wm#draggable

		.settings
				.settings__header
					h2.settings__header-text Настройки
				form.settings__files(enctype="miltipart/form-data", method="post", id="files-form")
					label(for="source").input__label.input__label-img Исходное изображение
					.input__file-container
						input(type="text").input__file-name
						label(for="source").input__file-button
						label(for="source").input__fake-file
						input(type="file", name="source", id="source").input__file
					.wm-wrap.disable
						label(for="watermark").input__label.input__label-wm Водяной знак
						.input__file-container
							input(type="text").input__file-name
							label(for="watermark").input__file-button
							label(for="watermark").input__fake-file
							input(type="file", name="watermark" id="watermark").input__file
				.settings-wrap.disable
					.settings__position
						.settings__name
							.input__label.input__label_position Положение
							.mode
								.mode__tile
								.mode__single
						.map
							ul.map__list
								- for (i = 0; i < 9; i++)
									li.map__item
							.map__tiling
								.map__margin.map__margin_left
								.map__margin.map__margin_bottom
						.coords
							.coords__x
								label(for="coords-x").input__label.input__label_coords X
								input(id="coords-x" name="coords-x" value="0").coords__input
							.coords__y
								label(for="coords-y").input__label.input__label_coords Y
								input(id="coords-y" name="coords-y" value="0").coords__input
					.settings__opacity
						.input__label.input__label_opacity Прозрачность
						.opacity__block
						.input__label.input__label_scale Размер водяного знака
						.scale__block
					.settings__buttons
						input(type="reset", value="Сброс").button.button__reset
						input(type="submit", value="Скачать", id="files-upload").button.button__submit

