/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$down-hover-name: 'down-hover';
$down-hover-x: 348px;
$down-hover-y: 0px;
$down-hover-offset-x: -348px;
$down-hover-offset-y: 0px;
$down-hover-width: 13px;
$down-hover-height: 8px;
$down-hover-total-width: 361px;
$down-hover-total-height: 292px;
$down-hover-image: '/img/sprite.png';
$down-hover: (348px, 0px, -348px, 0px, 13px, 8px, 361px, 292px, '/img/sprite.png', 'down-hover', );
$down-name: 'down';
$down-x: 279px;
$down-y: 207px;
$down-offset-x: -279px;
$down-offset-y: -207px;
$down-width: 13px;
$down-height: 8px;
$down-total-width: 361px;
$down-total-height: 292px;
$down-image: '/img/sprite.png';
$down: (279px, 207px, -279px, -207px, 13px, 8px, 361px, 292px, '/img/sprite.png', 'down', );
$download-name: 'download';
$download-x: 138px;
$download-y: 273px;
$download-offset-x: -138px;
$download-offset-y: -273px;
$download-width: 21px;
$download-height: 16px;
$download-total-width: 361px;
$download-total-height: 292px;
$download-image: '/img/sprite.png';
$download: (138px, 273px, -138px, -273px, 21px, 16px, 361px, 292px, '/img/sprite.png', 'download', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 93px;
$fb-hover-y: 91px;
$fb-hover-offset-x: -93px;
$fb-hover-offset-y: -91px;
$fb-hover-width: 43px;
$fb-hover-height: 41px;
$fb-hover-total-width: 361px;
$fb-hover-total-height: 292px;
$fb-hover-image: '/img/sprite.png';
$fb-hover: (93px, 91px, -93px, -91px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 186px;
$fb-y: 0px;
$fb-offset-x: -186px;
$fb-offset-y: 0px;
$fb-width: 43px;
$fb-height: 41px;
$fb-total-width: 361px;
$fb-total-height: 292px;
$fb-image: '/img/sprite.png';
$fb: (186px, 0px, -186px, 0px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'fb', );
$single-active-name: 'single-active';
$single-active-x: 69px;
$single-active-y: 273px;
$single-active-offset-x: -69px;
$single-active-offset-y: -273px;
$single-active-width: 19px;
$single-active-height: 19px;
$single-active-total-width: 361px;
$single-active-total-height: 292px;
$single-active-image: '/img/sprite.png';
$single-active: (69px, 273px, -69px, -273px, 19px, 19px, 361px, 292px, '/img/sprite.png', 'single-active', );
$single-hover-name: 'single-hover';
$single-hover-x: 186px;
$single-hover-y: 182px;
$single-hover-offset-x: -186px;
$single-hover-offset-y: -182px;
$single-hover-width: 19px;
$single-hover-height: 19px;
$single-hover-total-width: 361px;
$single-hover-total-height: 292px;
$single-hover-image: '/img/sprite.png';
$single-hover: (186px, 182px, -186px, -182px, 19px, 19px, 361px, 292px, '/img/sprite.png', 'single-hover', );
$single-name: 'single';
$single-x: 279px;
$single-y: 0px;
$single-offset-x: -279px;
$single-offset-y: 0px;
$single-width: 19px;
$single-height: 19px;
$single-total-width: 361px;
$single-total-height: 292px;
$single-image: '/img/sprite.png';
$single: (279px, 0px, -279px, 0px, 19px, 19px, 361px, 292px, '/img/sprite.png', 'single', );
$socials-hover-name: 'socials-hover';
$socials-hover-x: 93px;
$socials-hover-y: 182px;
$socials-hover-offset-x: -93px;
$socials-hover-offset-y: -182px;
$socials-hover-width: 43px;
$socials-hover-height: 41px;
$socials-hover-total-width: 361px;
$socials-hover-total-height: 292px;
$socials-hover-image: '/img/sprite.png';
$socials-hover: (93px, 182px, -93px, -182px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'socials-hover', );
$socials-name: 'socials';
$socials-x: 0px;
$socials-y: 0px;
$socials-offset-x: 0px;
$socials-offset-y: 0px;
$socials-width: 43px;
$socials-height: 41px;
$socials-total-width: 361px;
$socials-total-height: 292px;
$socials-image: '/img/sprite.png';
$socials: (0px, 0px, 0px, 0px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'socials', );
$tile-active-name: 'tile-active';
$tile-active-x: 279px;
$tile-active-y: 69px;
$tile-active-offset-x: -279px;
$tile-active-offset-y: -69px;
$tile-active-width: 19px;
$tile-active-height: 19px;
$tile-active-total-width: 361px;
$tile-active-total-height: 292px;
$tile-active-image: '/img/sprite.png';
$tile-active: (279px, 69px, -279px, -69px, 19px, 19px, 361px, 292px, '/img/sprite.png', 'tile-active', );
$tile-hover-name: 'tile-hover';
$tile-hover-x: 279px;
$tile-hover-y: 138px;
$tile-hover-offset-x: -279px;
$tile-hover-offset-y: -138px;
$tile-hover-width: 19px;
$tile-hover-height: 19px;
$tile-hover-total-width: 361px;
$tile-hover-total-height: 292px;
$tile-hover-image: '/img/sprite.png';
$tile-hover: (279px, 138px, -279px, -138px, 19px, 19px, 361px, 292px, '/img/sprite.png', 'tile-hover', );
$tile-name: 'tile';
$tile-x: 0px;
$tile-y: 273px;
$tile-offset-x: 0px;
$tile-offset-y: -273px;
$tile-width: 19px;
$tile-height: 19px;
$tile-total-width: 361px;
$tile-total-height: 292px;
$tile-image: '/img/sprite.png';
$tile: (0px, 273px, 0px, -273px, 19px, 19px, 361px, 292px, '/img/sprite.png', 'tile', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 0px;
$tw-hover-y: 182px;
$tw-hover-offset-x: 0px;
$tw-hover-offset-y: -182px;
$tw-hover-width: 43px;
$tw-hover-height: 41px;
$tw-hover-total-width: 361px;
$tw-hover-total-height: 292px;
$tw-hover-image: '/img/sprite.png';
$tw-hover: (0px, 182px, 0px, -182px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 186px;
$tw-y: 91px;
$tw-offset-x: -186px;
$tw-offset-y: -91px;
$tw-width: 43px;
$tw-height: 41px;
$tw-total-width: 361px;
$tw-total-height: 292px;
$tw-image: '/img/sprite.png';
$tw: (186px, 91px, -186px, -91px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'tw', );
$up-hover-name: 'up-hover';
$up-hover-x: 209px;
$up-hover-y: 273px;
$up-hover-offset-x: -209px;
$up-hover-offset-y: -273px;
$up-hover-width: 13px;
$up-hover-height: 8px;
$up-hover-total-width: 361px;
$up-hover-total-height: 292px;
$up-hover-image: '/img/sprite.png';
$up-hover: (209px, 273px, -209px, -273px, 13px, 8px, 361px, 292px, '/img/sprite.png', 'up-hover', );
$up-name: 'up';
$up-x: 272px;
$up-y: 273px;
$up-offset-x: -272px;
$up-offset-y: -273px;
$up-width: 13px;
$up-height: 8px;
$up-total-width: 361px;
$up-total-height: 292px;
$up-image: '/img/sprite.png';
$up: (272px, 273px, -272px, -273px, 13px, 8px, 361px, 292px, '/img/sprite.png', 'up', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 0px;
$vk-hover-y: 91px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -91px;
$vk-hover-width: 43px;
$vk-hover-height: 41px;
$vk-hover-total-width: 361px;
$vk-hover-total-height: 292px;
$vk-hover-image: '/img/sprite.png';
$vk-hover: (0px, 91px, 0px, -91px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 93px;
$vk-y: 0px;
$vk-offset-x: -93px;
$vk-offset-y: 0px;
$vk-width: 43px;
$vk-height: 41px;
$vk-total-width: 361px;
$vk-total-height: 292px;
$vk-image: '/img/sprite.png';
$vk: (93px, 0px, -93px, 0px, 43px, 41px, 361px, 292px, '/img/sprite.png', 'vk', );
$spritesheet-width: 361px;
$spritesheet-height: 292px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($down-hover, $down, $download, $fb-hover, $fb, $single-active, $single-hover, $single, $socials-hover, $socials, $tile-active, $tile-hover, $tile, $tw-hover, $tw, $up-hover, $up, $vk-hover, $vk, );
$spritesheet: (361px, 292px, '/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
