/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$down-hover-name: 'down-hover';
$down-hover-x: 134px;
$down-hover-y: 138px;
$down-hover-offset-x: -134px;
$down-hover-offset-y: -138px;
$down-hover-width: 13px;
$down-hover-height: 8px;
$down-hover-total-width: 220px;
$down-hover-total-height: 154px;
$down-hover-image: '/img/sprite.png';
$down-hover: (134px, 138px, -134px, -138px, 13px, 8px, 220px, 154px, '/img/sprite.png', 'down-hover', );
$down-name: 'down';
$down-x: 71px;
$down-y: 138px;
$down-offset-x: -71px;
$down-offset-y: -138px;
$down-width: 13px;
$down-height: 8px;
$down-total-width: 220px;
$down-total-height: 154px;
$down-image: '/img/sprite.png';
$down: (71px, 138px, -71px, -138px, 13px, 8px, 220px, 154px, '/img/sprite.png', 'down', );
$download-name: 'download';
$download-x: 0px;
$download-y: 138px;
$download-offset-x: 0px;
$download-offset-y: -138px;
$download-width: 21px;
$download-height: 16px;
$download-total-width: 220px;
$download-total-height: 154px;
$download-image: '/img/sprite.png';
$download: (0px, 138px, 0px, -138px, 21px, 16px, 220px, 154px, '/img/sprite.png', 'download', );
$single-active-name: 'single-active';
$single-active-x: 69px;
$single-active-y: 0px;
$single-active-offset-x: -69px;
$single-active-offset-y: 0px;
$single-active-width: 19px;
$single-active-height: 19px;
$single-active-total-width: 220px;
$single-active-total-height: 154px;
$single-active-image: '/img/sprite.png';
$single-active: (69px, 0px, -69px, 0px, 19px, 19px, 220px, 154px, '/img/sprite.png', 'single-active', );
$single-hover-name: 'single-hover';
$single-hover-x: 0px;
$single-hover-y: 69px;
$single-hover-offset-x: 0px;
$single-hover-offset-y: -69px;
$single-hover-width: 19px;
$single-hover-height: 19px;
$single-hover-total-width: 220px;
$single-hover-total-height: 154px;
$single-hover-image: '/img/sprite.png';
$single-hover: (0px, 69px, 0px, -69px, 19px, 19px, 220px, 154px, '/img/sprite.png', 'single-hover', );
$single-name: 'single';
$single-x: 0px;
$single-y: 0px;
$single-offset-x: 0px;
$single-offset-y: 0px;
$single-width: 19px;
$single-height: 19px;
$single-total-width: 220px;
$single-total-height: 154px;
$single-image: '/img/sprite.png';
$single: (0px, 0px, 0px, 0px, 19px, 19px, 220px, 154px, '/img/sprite.png', 'single', );
$tile-active-name: 'tile-active';
$tile-active-x: 69px;
$tile-active-y: 69px;
$tile-active-offset-x: -69px;
$tile-active-offset-y: -69px;
$tile-active-width: 19px;
$tile-active-height: 19px;
$tile-active-total-width: 220px;
$tile-active-total-height: 154px;
$tile-active-image: '/img/sprite.png';
$tile-active: (69px, 69px, -69px, -69px, 19px, 19px, 220px, 154px, '/img/sprite.png', 'tile-active', );
$tile-hover-name: 'tile-hover';
$tile-hover-x: 138px;
$tile-hover-y: 0px;
$tile-hover-offset-x: -138px;
$tile-hover-offset-y: 0px;
$tile-hover-width: 19px;
$tile-hover-height: 19px;
$tile-hover-total-width: 220px;
$tile-hover-total-height: 154px;
$tile-hover-image: '/img/sprite.png';
$tile-hover: (138px, 0px, -138px, 0px, 19px, 19px, 220px, 154px, '/img/sprite.png', 'tile-hover', );
$tile-name: 'tile';
$tile-x: 138px;
$tile-y: 69px;
$tile-offset-x: -138px;
$tile-offset-y: -69px;
$tile-width: 19px;
$tile-height: 19px;
$tile-total-width: 220px;
$tile-total-height: 154px;
$tile-image: '/img/sprite.png';
$tile: (138px, 69px, -138px, -69px, 19px, 19px, 220px, 154px, '/img/sprite.png', 'tile', );
$up-hover-name: 'up-hover';
$up-hover-x: 207px;
$up-hover-y: 0px;
$up-hover-offset-x: -207px;
$up-hover-offset-y: 0px;
$up-hover-width: 13px;
$up-hover-height: 8px;
$up-hover-total-width: 220px;
$up-hover-total-height: 154px;
$up-hover-image: '/img/sprite.png';
$up-hover: (207px, 0px, -207px, 0px, 13px, 8px, 220px, 154px, '/img/sprite.png', 'up-hover', );
$up-name: 'up';
$up-x: 207px;
$up-y: 58px;
$up-offset-x: -207px;
$up-offset-y: -58px;
$up-width: 13px;
$up-height: 8px;
$up-total-width: 220px;
$up-total-height: 154px;
$up-image: '/img/sprite.png';
$up: (207px, 58px, -207px, -58px, 13px, 8px, 220px, 154px, '/img/sprite.png', 'up', );
$spritesheet-width: 220px;
$spritesheet-height: 154px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($down-hover, $down, $download, $single-active, $single-hover, $single, $tile-active, $tile-hover, $tile, $up-hover, $up, );
$spritesheet: (220px, 154px, '/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
