aside.aside
	.lang
		ul.lang__list
			- var languages = {'rus' : 'Рус', 'eng' : 'Eng'}
			each value, key in languages
				li.lang__item
					a(href="" id="#{key}").lang__link= value
	.socials
		.socials__button
			.socials__button_img
		ul.socials__list
			- var socials = ['fb', 'tw', 'vk']
			each social in socials
				li.socials__item
					a(href="" class="socials__link_#{social}").socials__link