.section {
  padding-top: 60px;
  height: 670px;
  width: 960px;
  margin: 0 auto;
}

.preview {
  float: left;
  background-color: rgba(46, 54, 65, .64);
  width: 700px;
  height: 670px;
}

.preview__wrapper {
  margin: 16px 24px 25px;
  overflow: hidden;
}

.preview__header {
  margin-bottom: 59px;
}

.preview__header-text {
  font-family: 'robotolight';
  font-size: 36px;
  margin: 0;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal;
}

.preview__window {
  width: 652px;
  height: 534px;
  line-height: 534px; //для выравнивания блока с изображением по вертикали
  background-image: url(../img/bg-window.png);
}

.preview__window-img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.processed_img {
  display: block;
  max-width: 652px;
  max-height: 534px;
}

.processed_wm {
  position: absolute;
  line-height: 0;
  top: 50px;
  left: 550px;
  opacity: .5;
}

// ==================================
// НАСТРОЙКИ
// ==================================

.settings {
  box-sizing: border-box;
  float: right;
  background-color: $white;
  border-left: 1px solid #9f979a;
  width: 260px;
  height: 670px;
  
}



.settings__header {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 33px;
}

.settings__header-text {
  font-family: 'robotolight';
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  line-height: 28px;
  color: $font;
}

// ==================================
// Добавление файлов
// ==================================

.settings__files,
.settings__position,
.settings__opacity {
  border-bottom: 1px solid $light-orange;
  margin-bottom: 15px;
}

.input__label {
  font-family: 'robotolight';
  font-size: 14px;
  color: $font;
  line-height: 16px;
  margin-bottom: 7px;
}

.input__file {
  margin-bottom: 24px;
}

// ==================================
// Позиция
// ==================================
.settings__position {
  @include clearfix;
  padding-left: 19px;
  padding-right: 21px;
}

.input__label_position {
  margin-bottom: 35px;
}
.map {
  float: left;
  margin-bottom: 31px;
}

.map__list {
  @include clearfix;
  display: inline-block;
  width: 101px;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
  border-color: #9eb2c0;
  border: 1px solid #9eb2c0;
  background-color: #9eb2c0;
}

.map__item {
  box-sizing: border-box;
  list-style: none;
  float: left;
  width: 33px;
  height: 33px;
  cursor: pointer;
  content: '';
  background-color: #dbe1e8;
  transition: all .5s;
  margin: 1px 1px 0 0;
  &:nth-child(-n+3) {
    margin-top: 0;
  }
  &:nth-child(3n+0) {
    margin-right: 0;
  }

  &:hover {
    background-color: #9eb2c0;
  }
  &_active,
  &_active:hover {
    background-color: $orange;
  }
}

.coords {
  float: right;
  &__x{
    margin-bottom: 12px;
  }
}

.input__label_coords {
  font-family: "robotolight";
  font-size: 16px;
  color: #444a53;
  margin-right: 3px;

  vertical-align: middle;
}

.coords__input {

}



// ==================================
// Прозрачность
// ==================================


// ==================================
// Кнопки
// ==================================

.button {
  width: 99px;
  height: 42px;
  font-family: 'robotomedium';
  color: $white;
  font-size: 18px;
  border: none;
  border-radius: 3px;
}

.button__reset {
  background-color: #c1cfd9;

  &:hover {
    background-color: darken(#c1cfd9, 10%);
  }
  &:active {
    background-color: darken(#c1cfd9, 20%);
  }
}
.button__submit {
  background-color: $orange;

  &:hover {
    background-color: darken($orange, 10%);;
  }
  &:active {
    background-color: darken($orange, 20%);;
  }
}
